{% extends 'volunteer_base.html' %}

{% block main %}
<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2 mb-3" style="border-bottom: 2px solid orange;">
            Donation Delivered Successfully &#128522;
        </h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover datatable">
                <thead class="thead-light">
                    <tr>
                        <th>Sr.NO</th>
                        <th>Donation Name</th>
                        <th>Donation Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in donation %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.donationname }}</td>
                        <td>{{ i.donationdate|date:"d M Y" }}</td>
                        <td>{{ i.status }}</td>
                        <td>
                            <a href="{% url 'donationrec_detail' i.id %}" class="text-primary">
                                View
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">
                            No donation requests found
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
