{% extends 'admin_base.html' %}

{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">
            New Volunteer
        </h5>

        <div class="container-fluid">
            <table id="example" class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Volunteer Name</th>
                        <th>Email ID</th>
                        <th>Contact No</th>
                        <th>Status</th>
                        <th>Reg. Date</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in volunteers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                        <td>{{ i.user.email }}</td>
                        <td>{{ i.Contact }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.regdate }}</td>
                        <td>
                            <a href="{% url 'view_volunteerdetail' i.id %}" class="text-primary">
                                View Details
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">
                            No pending volunteers found
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
